body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #035d74;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #101214;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

select,
input {
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card {
  background: rgb(53, 37, 37);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}

.forecast {
  margin-top: 20px;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.forecast-card {
  background-color: rgb(14, 12, 12);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

